:host {
  display: block;
  height: 100%;
  overflow: hidden;
}

main {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

my-header {
  width: 100%;
}

nav {
  background-color: rgb(230, 230, 230);
  width: 200px;
}

section {
  background-color: rgb(240, 240, 240);
  flex-grow: 1;
}
